{#template für startseite#}

{% extends "layouts/base.twig" %}
{% block content %}
  <h1>HOME</h1>
  {% for post in posts %}
    <article>
      <h2><a href="{{ post.link }}">{{ post.title }}</a></h2>
      {% if post.thumbnail %}
        <img src="{{ post.thumbnail.src }}" alt="{{ post.thumbnail.alt }}">
      {% endif %}
      <p>{{ post.preview.read_more('Weiterlesen') }}</p>
    </article>
  {% endfor %}
{% endblock %}
