{% extends "_layout.twig" %}
{% block content %}
  <!-- --------------------------------------------------------------------- -->



  {# Template für die Einzelseiten #}
  <div class="limit">
    <nav>
      <a href="/">Home</a>
      <a href="/2022/07/21/kontakt/">Kontakt</a>
    </nav>

    <h1>{{ post.title }}</h1>
    <ul>{{ categories }}</ul>
    <img src="{{ post.thumbnail.src }}" alt="{{ post.thumbnail.alt }}">
    <div>{{ post.content }}</div>

    <form
      {{ wp_form }}
      style="padding: 16px;"
    >
      <input name="comment_post_ID" value="{{ post.id }}" type="hidden">
      <label>
        <span>Name</span>
        <input required name="author" type="text">
      </label>
      <label>
        <span>E-Mail</span>
        <input required name="email" type="email">
      </label>
      <label>
        <span>Kommentar</span><br>
        <textarea
          placeholder="Schreibe einen Kommentar..."
          name="comment"
        ></textarea>
      </label>
      <button type="submit">Kommentieren</button>

      <div>{{ comments }}</div>
    </form>
  </div>



  <!-- --------------------------------------------------------------------- -->
{% endblock %}
