<!doctype html>
<html {{ site.language_attributes }}>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">
    <link rel="stylesheet" href="{{ site.theme.link }}/config/base.css">
    <link rel="stylesheet" href="{{ site.theme.link }}/style.css">
    {{ function('wp_head') }}
  </head>
  <body>
    <div class="page">
      {{ block('content') }}
    </div>
    {{ function('wp_footer') }}
  </body>
</html>
