{# basis-layout für alle templates#}

<!doctype html>
<html {{ site.language_attributes }}>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">
    <link rel="stylesheet" href="{{ site.theme.link }}/style.css">
    {{ function('wp_head') }}
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/ueber-mich/">Über mich</a>
      <a href="/blog/">Blog (custom page)</a>
    </nav>

    <main>
      {{ block('content') }}
    </main>

    {{ function('wp_footer') }}
  </body>
</html>
